<a href="https://colab.research.google.com/github/nike-2001/pandas/blob/main/Copy_of_Intro_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Pandas - Brief Intro

1. Data Analysis library which makes it easy to read and work with different types of data
 * Load large amounts of data into python
 * Work with different file formats (csv, sql, excel, etc.)
 * Work with time-series data (stock prices, sales data, etc.)

2. Cleaning the Data and Handling Missing Values
3. Built on top of NumPy and has great performance


> **Essential for everyone working with data (Data Science, ML, Analytics, etc.)**

# Walkthrough of Datasets

## Stack Overflow Dataset

With nearly 65,000 responses fielded from over 180 countries and dependent territories, the 2020 Annual Developer Survey by Stack Overflow examines all aspects of the developer experience from career satisfaction and job search to education and opinions on open source software.

**Source**: https://insights.stackoverflow.com/survey

In [ ]:
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/survey_results_public.csv

--2021-01-25 03:08:23--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/survey_results_public.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.66.119
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.66.119|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 94603888 (90M) [text/csv]
Saving to: ‘survey_results_public.csv’

survey_results_publ 100%[===================>]  90.22M  12.6MB/s    in 8.8s

2021-01-25 03:08:33 (10.2 MB/s) - ‘survey_results_public.csv’ saved [94603888/94603888]

## Covid Dataset

This dataset provides day-wise metric of COVID-19 in Italy for around 200 days.

**Source**: https://hub.jovian.ml/wp-content/uploads/2020/09/italy-covid-daywise.csv

In [ ]:
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/italy-covid-daywise.csv

--2021-01-25 03:08:33--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/italy-covid-daywise.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.64.115
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.64.115|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6619 (6.5K) [text/csv]
Saving to: ‘italy-covid-daywise.csv’

italy-covid-daywise 100%[===================>]   6.46K  --.-KB/s    in 0s

2021-01-25 03:08:34 (203 MB/s) - ‘italy-covid-daywise.csv’ saved [6619/6619]

## Film Dataset

About 1000 movies with properties such as length, main actor and actress, director and popularity.

**Source**: https://perso.telecom-paristech.fr/eagan/class/igr204/datasets

In [ ]:
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/film.csv

--2021-01-25 03:08:34--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/film.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.64.115
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.64.115|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 102889 (100K) [text/csv]
Saving to: ‘film.csv’

film.csv            100%[===================>] 100.48K   209KB/s    in 0.5s

2021-01-25 03:08:36 (209 KB/s) - ‘film.csv’ saved [102889/102889]

## eCommerce Dataset

This dataset provides shopping data related to various products and orders over the course of a year.

**Source**: https://github.com/KeithGalli/Pandas-Data-Science-Tasks

In [ ]:
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/shopping_data_v2.csv

--2021-01-25 03:08:36--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/shopping_data_v2.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.64.115
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.64.115|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16278053 (16M) [text/csv]
Saving to: ‘shopping_data_v2.csv’

shopping_data_v2.cs 100%[===================>]  15.52M  5.97MB/s    in 2.6s

2021-01-25 03:08:40 (5.97 MB/s) - ‘shopping_data_v2.csv’ saved [16278053/16278053]

# Loading Data

Loading the data from a csv file into python

In [ ]:
shopping_df = pd.read_csv('shopping_data_v2.csv')

# Dataframe
**A dataframe is like a dictionary of lists, but with much more functionality**

*   A table of data (Rows and Columns)
*   2 Dimensional Data Structure

## Properties of a Dataframe

**Shape of a dataframe**

In [ ]:
shopping_df.shape

(185950, 6)

**`df.columns` returns the column labels of a DataFrame**

In [ ]:
shopping_df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

**`df.dtypes` returns the datatypes of each column in a DataFrame**

In [ ]:
shopping_df.dtypes

Order ID              int64
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

### df.head
* `df.head(n=5)`
  *   Returns the first `n` rows.
  * For negative values of `n`, this function returns all the rows except for the last `n` rows.

In [ ]:
shopping_df.head()

   Order ID  ...                      Purchase Address
0    176558  ...          917 1st St, Dallas, TX 75001
1    176559  ...     682 Chestnut St, Boston, MA 02215
2    176560  ...  669 Spruce St, Los Angeles, CA 90001
3    176560  ...  669 Spruce St, Los Angeles, CA 90001
4    176561  ...     333 8th St, Los Angeles, CA 90001

[5 rows x 6 columns]

In [ ]:
shopping_df.head(10)

   Order ID  ...                        Purchase Address
0    176558  ...            917 1st St, Dallas, TX 75001
1    176559  ...       682 Chestnut St, Boston, MA 02215
2    176560  ...    669 Spruce St, Los Angeles, CA 90001
3    176560  ...    669 Spruce St, Los Angeles, CA 90001
4    176561  ...       333 8th St, Los Angeles, CA 90001
5    176562  ...  381 Wilson St, San Francisco, CA 94016
6    176563  ...        668 Center St, Seattle, WA 98101
7    176564  ...         790 Ridge St, Atlanta, GA 30301
8    176565  ...  915 Willow St, San Francisco, CA 94016
9    176566  ...             83 7th St, Boston, MA 02215

[10 rows x 6 columns]

In [ ]:
shopping_df.head(-1000)

        Order ID  ...                       Purchase Address
0         176558  ...           917 1st St, Dallas, TX 75001
1         176559  ...      682 Chestnut St, Boston, MA 02215
2         176560  ...   669 Spruce St, Los Angeles, CA 90001
3         176560  ...   669 Spruce St, Los Angeles, CA 90001
4         176561  ...      333 8th St, Los Angeles, CA 90001
...          ...  ...                                    ...
184945    175590  ...      566 Dogwood St, Atlanta, GA 30301
184946    175591  ...    903 South St, Los Angeles, CA 90001
184947    175592  ...  177 Johnson St, Los Angeles, CA 90001
184948    175592  ...  177 Johnson St, Los Angeles, CA 90001
184949    175592  ...  177 Johnson St, Los Angeles, CA 90001

[184950 rows x 6 columns]

### df.tail
* `df.tail(n=5)`
  *   Returns the last `n` rows.
  * For negative values of `n`, this function returns all rows except for the first `n` rows.

In [ ]:
shopping_df.tail()

        Order ID  ...                           Purchase Address
185945    176554  ...       672 12th St, San Francisco, CA 94016
185946    176555  ...         42 4th St, San Francisco, CA 94016
185947    176556  ...          871 7th St, Los Angeles, CA 90001
185948    176557  ...  83 Washington St, San Francisco, CA 94016
185949    176557  ...  83 Washington St, San Francisco, CA 94016

[5 rows x 6 columns]

In [ ]:
shopping_df.tail(15)

        Order ID  ...                            Purchase Address
185935    176544  ...                436 8th St, Dallas, TX 75001
185936    176545  ...      515 Center St, San Francisco, CA 94016
185937    176546  ...          3 Church St, Los Angeles, CA 90001
185938    176547  ...               998 Pine St, Boston, MA 02215
185939    176548  ...             9 Sunset St, Portland, OR 97035
185940    176549  ...          604 Park St, Los Angeles, CA 90001
185941    176550  ...       16 Sunset St, San Francisco, CA 94016
185942    176551  ...       567 River St, San Francisco, CA 94016
185943    176552  ...          578 Main St, Los Angeles, CA 90001
185944    176553  ...  437 Washington St, New York City, NY 10001
185945    176554  ...        672 12th St, San Francisco, CA 94016
185946    176555  ...          42 4th St, San Francisco, CA 94016
185947    176556  ...           871 7th St, Los Angeles, CA 90001
185948    176557  ...   83 Washington St, San Francisco, CA 94016
185949    176557  ...   83 Washington St, San Francisco, CA 94016

[15 rows x 6 columns]

In [ ]:
shopping_df.tail(-100)

        Order ID  ...                           Purchase Address
100       176654  ...         880 Lakeview St, Seattle, WA 98101
101       176655  ...     848 Center St, San Francisco, CA 94016
102       176656  ...    12 Lakeview St, New York City, NY 10001
103       176657  ...       774 Forest St, Los Angeles, CA 90001
104       176658  ...       573 Pine St, San Francisco, CA 94016
...          ...  ...                                        ...
185945    176554  ...       672 12th St, San Francisco, CA 94016
185946    176555  ...         42 4th St, San Francisco, CA 94016
185947    176556  ...          871 7th St, Los Angeles, CA 90001
185948    176557  ...  83 Washington St, San Francisco, CA 94016
185949    176557  ...  83 Washington St, San Francisco, CA 94016

[185850 rows x 6 columns]

### df.describe
* `df.describe(include=None, exclude=None)`
  * Generates descriptive statistics.
  * Analyzes both numeric and object series as well as mixed data types.
  * `include`: A list of data types to include in the result.
  * `exclude`:  A list of data types to omit from the result.

In [ ]:
shopping_df.describe()

            Order ID  Quantity Ordered     Price Each
count  185950.000000     185950.000000  185950.000000
mean   230417.569379          1.124383     184.399735
std     51512.737110          0.442793     332.731330
min    141234.000000          1.000000       2.990000
25%    185831.250000          1.000000      11.950000
50%    230367.500000          1.000000      14.950000
75%    275035.750000          1.000000     150.000000
max    319670.000000          9.000000    1700.000000

In [ ]:
shopping_df.describe(include=[object])

                     Product  ...                        Purchase Address
count                 185950  ...                                  185950
unique                    19  ...                                  140787
top     USB-C Charging Cable  ...  193 Forest St, San Francisco, CA 94016
freq                   21903  ...                                       9

[4 rows x 3 columns]

In [ ]:
shopping_df.describe(include="all")

             Order ID  ...                        Purchase Address
count   185950.000000  ...                                  185950
unique            NaN  ...                                  140787
top               NaN  ...  193 Forest St, San Francisco, CA 94016
freq              NaN  ...                                       9
mean    230417.569379  ...                                     NaN
std      51512.737110  ...                                     NaN
min     141234.000000  ...                                     NaN
25%     185831.250000  ...                                     NaN
50%     230367.500000  ...                                     NaN
75%     275035.750000  ...                                     NaN
max     319670.000000  ...                                     NaN

[11 rows x 6 columns]

In [ ]:
shopping_df.describe(exclude=[object])

            Order ID  Quantity Ordered     Price Each
count  185950.000000     185950.000000  185950.000000
mean   230417.569379          1.124383     184.399735
std     51512.737110          0.442793     332.731330
min    141234.000000          1.000000       2.990000
25%    185831.250000          1.000000      11.950000
50%    230367.500000          1.000000      14.950000
75%    275035.750000          1.000000     150.000000
max    319670.000000          9.000000    1700.000000

### df.info
* `df.info()`
  * Print a concise summary of a DataFrame including the dtypes of the columns, memory usage, etc.

In [ ]:
shopping_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 8.5+ MB

## Comparision with Dictionary of Lists

In [ ]:
people = {
    "first": ["Kristen", 'Maxine', 'John'], 
    "last": ["Carol", 'Willians', 'Smith'], 
    "email": ["KristenC@gmail.com", 'Maxine.Williams@email.com', 'JohnSmith@email.com']
}

Creating DataFrame from a dictionary of lists

In [ ]:
df = pd.DataFrame(people)
print(df)

     first      last                      email
0  Kristen     Carol         KristenC@gmail.com
1   Maxine  Willians  Maxine.Williams@email.com
2     John     Smith        JohnSmith@email.com

In [ ]:
people["first"]

['Kristen', 'Maxine', 'John']

In [ ]:
df["last"]

0       Carol
1    Willians
2       Smith
Name: last, dtype: object

In [ ]:
type(df["first"])

pandas.core.series.Series

# Series
**A Series is like a list of data, but with much more functionality**

Creating Series from a List of Data

In [ ]:
pd.Series([1, 2, 3, 4, "asdf"])

0       1
1       2
2       3
3       4
4    asdf
dtype: object

In [ ]:
type(shopping_df['Product'])

pandas.core.series.Series

# Accessing Data

## Indexing

We can retrieve a specific value from a series using the indexing notation **`[]`**

In [ ]:
shopping_df['Product'][200]

'AA Batteries (4-pack)'

### df.iloc

**Accessing by position numbers**

* `df.iloc()`

  * Purely integer-location based indexing for selection by position.
  * Unlike in `loc`, if a slice object with indices is passed then **stop is excluded**

In [ ]:
shopping_df.iloc[[0, 2], [0, 3]]

   Order ID  Price Each
0    176558       11.95
2    176560      600.00

In [ ]:
shopping_df.iloc[0, 1]

'USB-C Charging Cable'

### df.loc

**Accessing by label / name**

* `df.loc()`

  * Access a group of rows and columns by label(s) or a boolean array
  * Allowed inputs are:
    * single label
    * list or array of labels
    * slice object with labels (**both start and stop are included**)
    * boolean array of the same length as the axis being sliced

In [ ]:
shopping_df.loc[980]

Order ID                                     177494
Product                       AA Batteries (4-pack)
Quantity Ordered                                  1
Price Each                                     3.84
Order Date                           04/22/19 05:37
Purchase Address    480 North St, Seattle, WA 98101
Name: 980, dtype: object

In [ ]:
shopping_df.loc[[980, 456]]

     Order ID  ...                     Purchase Address
980    177494  ...      480 North St, Seattle, WA 98101
456    176995  ...  964 8th St, San Francisco, CA 94016

[2 rows x 6 columns]

In [ ]:
shopping_df.loc[[980, 456], ['Product', 'Order Date']]

                   Product      Order Date
980  AA Batteries (4-pack)  04/22/19 05:37
456  AA Batteries (4-pack)  04/20/19 23:12

In [ ]:
shopping_df.loc[45, 'Product']

'Lightning Charging Cable'

In [ ]:
shopping_df[0:3]

   Order ID  ...                      Purchase Address
0    176558  ...          917 1st St, Dallas, TX 75001
1    176559  ...     682 Chestnut St, Boston, MA 02215
2    176560  ...  669 Spruce St, Los Angeles, CA 90001

[3 rows x 6 columns]

### df.at
* `df.at()`
  * Access a single value for a row/column label pair.
  * Can also set/update a value at a specified row/column pair
  * Use `at` only if you need to get or set a single value in a DataFrame or Series.

In [ ]:
shopping_df.at[50000, 'Product']

'AA Batteries (4-pack)'

In [ ]:
df_copy = shopping_df.copy()

In [ ]:
print(df_copy.at[50000, 'Product'])
df_copy.at[50000, 'Product'] = "Micro USB Cable"
print(df_copy.at[50000, 'Product'], "\n")

print(shopping_df.at[50000, 'Product'])

AA Batteries (4-pack)
Micro USB Cable

AA Batteries (4-pack)

## Slicing

In [ ]:
shopping_df[0:3]

   Order ID  ...                      Purchase Address
0    176558  ...          917 1st St, Dallas, TX 75001
1    176559  ...     682 Chestnut St, Boston, MA 02215
2    176560  ...  669 Spruce St, Los Angeles, CA 90001

[3 rows x 6 columns]

When slicing using **loc** the start and stop indices are **included**.

In [ ]:
shopping_df.loc[7:9]

   Order ID  ...                        Purchase Address
7    176564  ...         790 Ridge St, Atlanta, GA 30301
8    176565  ...  915 Willow St, San Francisco, CA 94016
9    176566  ...             83 7th St, Boston, MA 02215

[3 rows x 6 columns]

In [ ]:
shopping_df.loc[23:45, 'Product']

23         AA Batteries (4-pack)
24          USB-C Charging Cable
25                        iPhone
26    Bose SoundSport Headphones
27        AAA Batteries (4-pack)
28                 Flatscreen TV
29    Bose SoundSport Headphones
30    Bose SoundSport Headphones
31        AAA Batteries (4-pack)
32                  Google Phone
33              27in FHD Monitor
34                  20in Monitor
35      Lightning Charging Cable
36                  Google Phone
37      Apple Airpods Headphones
38          USB-C Charging Cable
39      Lightning Charging Cable
40              Wired Headphones
41              Wired Headphones
42      Apple Airpods Headphones
43          USB-C Charging Cable
44        AAA Batteries (4-pack)
45      Lightning Charging Cable
Name: Product, dtype: object

In [ ]:
shopping_df.loc[10:20, 'Product':'Order Date']

                     Product  Quantity Ordered  Price Each      Order Date
10              Google Phone                 1      600.00  04/18/19 17:18
11  Lightning Charging Cable                 1       14.95  04/15/19 12:18
12    27in 4K Gaming Monitor                 1      389.99  04/16/19 19:23
13     AA Batteries (4-pack)                 1        3.84  04/22/19 15:09
14  Lightning Charging Cable                 1       14.95  04/19/19 14:29
15  Apple Airpods Headphones                 1      150.00  04/04/19 20:30
16      USB-C Charging Cable                 1       11.95  04/27/19 18:41
17              Google Phone                 1      600.00  04/03/19 19:42
18      USB-C Charging Cable                 1       11.95  04/03/19 19:42
19    AAA Batteries (4-pack)                 1        2.99  04/27/19 00:30
20  Apple Airpods Headphones                 1      150.00  04/28/19 11:42

When slicing using **iloc** the stop index is **excluded**.

In [ ]:
shopping_df.iloc[1:2, 0:3]

   Order ID                     Product  Quantity Ordered
1    176559  Bose SoundSport Headphones                 1

In [ ]:
shopping_df.iloc[1, 0:3]

Order ID                                176559
Product             Bose SoundSport Headphones
Quantity Ordered                             1
Name: 1, dtype: object

# Try It Yourself

For the following questions, use the **film** dataset. 
0. Load the dataset into a dataframe using `read_csv`
1. Get the shape of the dataset.
2. Get the names of the first 6 films. 
3. Generate descriptive statistics for the dataset, including all datatypes.
4. Change the 'Popularity' at the third index to 70.
5. Get the data in the first two columns for the last five rows in the dataset.