<a href="https://colab.research.google.com/github/nike-2001/pandas/blob/main/Copy_of_Pandas_Indexes_and_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Downloading and Loading Datasets
Downloading all the required csv files and loading the data into the dataframes

In [ ]:
# eCommerce Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/shopping_data_v2.csv

shopping_df = pd.read_csv('shopping_data_v2.csv')

--2021-01-25 12:09:08--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/shopping_data_v2.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.64.119
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.64.119|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16278053 (16M) [text/csv]
Saving to: ‘shopping_data_v2.csv’

shopping_data_v2.cs 100%[===================>]  15.52M  12.2MB/s    in 1.3s

2021-01-25 12:09:10 (12.2 MB/s) - ‘shopping_data_v2.csv’ saved [16278053/16278053]

In [ ]:
# Covid Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/italy-covid-daywise.csv

covid_df = pd.read_csv('italy-covid-daywise.csv')

--2021-01-25 12:09:11--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/italy-covid-daywise.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.64.119
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.64.119|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6619 (6.5K) [text/csv]
Saving to: ‘italy-covid-daywise.csv’

italy-covid-daywise 100%[===================>]   6.46K  --.-KB/s    in 0s

2021-01-25 12:09:11 (253 MB/s) - ‘italy-covid-daywise.csv’ saved [6619/6619]

In [ ]:
# Stackoverflow Survey Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/survey_results_public.csv

survey_df = pd.read_csv('survey_results_public.csv')

--2021-01-25 12:09:11--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/survey_results_public.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.64.119
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.64.119|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 94603888 (90M) [text/csv]
Saving to: ‘survey_results_public.csv’

survey_results_publ 100%[===================>]  90.22M  23.0MB/s    in 3.9s

2021-01-25 12:09:16 (23.0 MB/s) - ‘survey_results_public.csv’ saved [94603888/94603888]

In [ ]:
# Film Dataset
!wget https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/film.csv
 
films_df = pd.read_csv('film.csv')

--2021-01-25 12:09:17--  https://nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com/otg_prod/media/Tech_4.0/AI_ML/Datasets/film.csv
Resolving nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)... 52.219.64.15
Connecting to nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com (nkb-backend-otg-media-static.s3.ap-south-1.amazonaws.com)|52.219.64.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 102889 (100K) [text/csv]
Saving to: ‘film.csv’

film.csv            100%[===================>] 100.48K   492KB/s    in 0.2s

2021-01-25 12:09:18 (492 KB/s) - ‘film.csv’ saved [102889/102889]

# Display Options

In [ ]:
shopping_df

        Order ID  ...                           Purchase Address
0         176558  ...               917 1st St, Dallas, TX 75001
1         176559  ...          682 Chestnut St, Boston, MA 02215
2         176560  ...       669 Spruce St, Los Angeles, CA 90001
3         176560  ...       669 Spruce St, Los Angeles, CA 90001
4         176561  ...          333 8th St, Los Angeles, CA 90001
...          ...  ...                                        ...
185945    176554  ...       672 12th St, San Francisco, CA 94016
185946    176555  ...         42 4th St, San Francisco, CA 94016
185947    176556  ...          871 7th St, Los Angeles, CA 90001
185948    176557  ...  83 Washington St, San Francisco, CA 94016
185949    176557  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

In [ ]:
pd.set_option('display.max_rows', 8)

In [ ]:
shopping_df

        Order ID  ...                           Purchase Address
0         176558  ...               917 1st St, Dallas, TX 75001
1         176559  ...          682 Chestnut St, Boston, MA 02215
2         176560  ...       669 Spruce St, Los Angeles, CA 90001
3         176560  ...       669 Spruce St, Los Angeles, CA 90001
...          ...  ...                                        ...
185946    176555  ...         42 4th St, San Francisco, CA 94016
185947    176556  ...          871 7th St, Los Angeles, CA 90001
185948    176557  ...  83 Washington St, San Francisco, CA 94016
185949    176557  ...  83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

**To display more than 10 rows when the dataframe is truncated, set the `min_rows` option to be greater than 10.**

In [ ]:
pd.set_option('display.min_rows', 25)
pd.set_option('display.max_rows', 30)
shopping_df

        Order ID  ...                            Purchase Address
0         176558  ...                917 1st St, Dallas, TX 75001
1         176559  ...           682 Chestnut St, Boston, MA 02215
2         176560  ...        669 Spruce St, Los Angeles, CA 90001
3         176560  ...        669 Spruce St, Los Angeles, CA 90001
4         176561  ...           333 8th St, Los Angeles, CA 90001
5         176562  ...      381 Wilson St, San Francisco, CA 94016
6         176563  ...            668 Center St, Seattle, WA 98101
7         176564  ...             790 Ridge St, Atlanta, GA 30301
8         176565  ...      915 Willow St, San Francisco, CA 94016
9         176566  ...                 83 7th St, Boston, MA 02215
10        176567  ...           444 7th St, Los Angeles, CA 90001
11        176568  ...               438 Elm St, Seattle, WA 98101
...          ...  ...                                         ...
185938    176547  ...               998 Pine St, Boston, MA 02215
185939    176548  ...             9 Sunset St, Portland, OR 97035
185940    176549  ...          604 Park St, Los Angeles, CA 90001
185941    176550  ...       16 Sunset St, San Francisco, CA 94016
185942    176551  ...       567 River St, San Francisco, CA 94016
185943    176552  ...          578 Main St, Los Angeles, CA 90001
185944    176553  ...  437 Washington St, New York City, NY 10001
185945    176554  ...        672 12th St, San Francisco, CA 94016
185946    176555  ...          42 4th St, San Francisco, CA 94016
185947    176556  ...           871 7th St, Los Angeles, CA 90001
185948    176557  ...   83 Washington St, San Francisco, CA 94016
185949    176557  ...   83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

In [ ]:
pd.set_option('display.max_columns', 2)

In [ ]:
shopping_df

        Order ID  ...                            Purchase Address
0         176558  ...                917 1st St, Dallas, TX 75001
1         176559  ...           682 Chestnut St, Boston, MA 02215
2         176560  ...        669 Spruce St, Los Angeles, CA 90001
3         176560  ...        669 Spruce St, Los Angeles, CA 90001
4         176561  ...           333 8th St, Los Angeles, CA 90001
5         176562  ...      381 Wilson St, San Francisco, CA 94016
6         176563  ...            668 Center St, Seattle, WA 98101
7         176564  ...             790 Ridge St, Atlanta, GA 30301
8         176565  ...      915 Willow St, San Francisco, CA 94016
9         176566  ...                 83 7th St, Boston, MA 02215
10        176567  ...           444 7th St, Los Angeles, CA 90001
11        176568  ...               438 Elm St, Seattle, WA 98101
...          ...  ...                                         ...
185938    176547  ...               998 Pine St, Boston, MA 02215
185939    176548  ...             9 Sunset St, Portland, OR 97035
185940    176549  ...          604 Park St, Los Angeles, CA 90001
185941    176550  ...       16 Sunset St, San Francisco, CA 94016
185942    176551  ...       567 River St, San Francisco, CA 94016
185943    176552  ...          578 Main St, Los Angeles, CA 90001
185944    176553  ...  437 Washington St, New York City, NY 10001
185945    176554  ...        672 12th St, San Francisco, CA 94016
185946    176555  ...          42 4th St, San Francisco, CA 94016
185947    176556  ...           871 7th St, Los Angeles, CA 90001
185948    176557  ...   83 Washington St, San Francisco, CA 94016
185949    176557  ...   83 Washington St, San Francisco, CA 94016

[185950 rows x 6 columns]

**To display all the rows, set max_rows to None.**

In [ ]:
pd.set_option("display.max_rows", None)
shopping_df

**To reset all the display options**

In [ ]:
pd.reset_option('display')

In [ ]:
shopping_df

# Index


*   An index contains **identifiers for rows**. These are usually unique, but pandas doesn't enforce the uniqueness.
*   Each identifier is also called a **label**.

In [ ]:
print(shopping_df.index)

print(shopping_df.index.name)

## Changing the Index

### pd.DataFrame.set_index
* **`pd.DataFrame.set_index(keys, inplace=False)`**
  * Set the DataFrame index (row labels) using one or more existing columns or arrays (of appropriate length).
  * The index can replace the existing index or expand on it.

In [ ]:
shopping_df.columns

In [ ]:
shopping_df.set_index('Order ID')

In [ ]:
shopping_df

**Create a Multi-Index using the columns `Order ID` and `Product`:**

In [ ]:
shopping_df = pd.read_csv('shopping_data_v2.csv')

shopping_df.set_index(['Order ID', 'Product'])

**Use `inplace = True` to modify the DataFrame in place.**

In [ ]:
shopping_df.set_index('Order ID', inplace = True)

In [ ]:
shopping_df

### Setting the index while reading the csv file

In [ ]:
shopping_df = pd.read_csv('shopping_data_v2.csv', index_col = 'Order ID')
shopping_df

### pd.DataFrame.reset_index

* `pd.DataFrame.reset_index(drop=False, inplace=False)`
  * Returns a DataFrame with the `new index` or `None` if `inplace=True`.
  * Reset the index of the DataFrame, and use the default one instead.

In [ ]:
shopping_df.reset_index()

**We can use the `drop` parameter to avoid the old index being added as a column:**

In [ ]:
shopping_df.reset_index(drop=True)

In [ ]:
shopping_df

In [ ]:
shopping_df.reset_index(inplace=True)

In [ ]:
shopping_df

## Accessing data with updated Index: `loc`

In [ ]:
shopping_df.set_index("Order ID", inplace=True)

In [ ]:
shopping_df

In [ ]:
# The following code throws error

shopping_df.loc[2, 'Product': 'Order Date']

**Changing the index changes the way we access the data with `loc`**

In [ ]:
shopping_df.set_index('Order ID', inplace=True)

KeyError: ignored

In [ ]:
#Raises an error
shopping_df.loc[2, 'Product': 'Order Date']

KeyError: ignored

In [ ]:
shopping_df.loc[176560, 'Product': 'Order Date']

## Using methods based on Index

### pd.DataFrame.sort_index

* `pd.DataFrame.sort_index(axis=0, ascending=True, inplace=False, key=None)`
  * Returns a new DataFrame sorted by the label if `inplace=False`, otherwise updates the original DataFrame and returns None.

In [ ]:
shopping_df.sort_index()

* By default, it sorts in ascending order, to sort in descending order, use `ascending=False`

In [ ]:
shopping_df.sort_index(ascending=False)

* A `key` function can be specified which is applied to the index before sorting.

In [ ]:
sort_df = pd.DataFrame({"int_values": [1, 2, 3, 4]}, index=['a', 'E', 'F', 'g'])
sort_df.sort_index(key=lambda x: x.str.lower())

### pd.DataFrame.first_valid_index

* Returns the `index` of the first non-NA/null value.

In [ ]:
import numpy as np
df1 = pd.DataFrame({
    "name":[np.nan, "Sonu", "Raj"],
    "place":[np.nan, "Bangalore", "Vijayawada"]
})
df1

In [ ]:
df1.first_valid_index()

# Filtering

## Creating Masks

In [ ]:
shopping_df['Price Each']

In [ ]:
price_filter = shopping_df['Price Each'] > 100
price_filter

- The boolean expression returns a series containing `True` and `False` boolean values.
- You can use this series to select a subset of rows from the original dataframe, corresponding to the `True` values in the series.

In [ ]:
shopping_df[price_filter]

In [ ]:
shopping_df.loc[price_filter, 'Price Each']

In [ ]:
shopping_df.loc[price_filter, 'Price Each':'Purchase Address']

## Using Logical and Relational Operators

In [ ]:
price_range_filter = (shopping_df['Price Each'] > 10) & (shopping_df['Price Each'] < 20)
shopping_df.loc[price_range_filter]

**Excluding the rows which satisfy the given condition**

In [ ]:
neg_filter = (shopping_df['Price Each'] >= 10)
shopping_df[~neg_filter]

## Using `str` methods

In [ ]:
shopping_df['Product']

In [ ]:
filter = shopping_df['Product'].str.contains('Headphones')
shopping_df[filter]

In [ ]:
filter = shopping_df['Product'].str.endswith('Cable')
shopping_df[filter]

## pd.DataFrame.query

* `pd.DataFrame.query(expr, inplace=False, **kwargs)`
  * Returns a DataFrame resulting from the provided query expression.

In [ ]:
pd.DataFrame.query?

In [ ]:
df = pd.DataFrame({'A': [1, 6],

                   'B': [10, 3],

                   'C': [10, 5]})

df.query('B == C & A < B')

The above expression is also equivalent to:

In [ ]:
df[(df.B == df.C) & (df.A < df.B)]



---

# Try It Yourself

For the following questions, use the **covid** dataset.

0.   Load the dataset into a dataframe using `read_csv`
1.   Make the `date` column as the index.
2.   Sort the records in the dataset based on the `date` column.
3.   Find out on which days more than 1000 cases were reported.
4.   Fetch the `new_cases` and `new_tests` reported in the month of June.
5.   Find the first row in which valid `new_tests` were reported.


For the following questions, use the **film** dataset

6.  Make the '`year` and `title` as indices.
7.  Fetch the films where the `actor` name contains `Jasen` and the `popularity` is greater than 50.